
body {
    margin: 0%;
    background: var(--neutral);
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--header-height);
    font-family: var(--fontfam);
    background: var(--watermelon);
    margin: 0%;
}

header h1 {
    margin: 0%;
}

.contenttext {
    margin-top: var(--header-height);
    padding: 10px;
}