main h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--dark-carbon);
}

main h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

header, main {
    font-size: 1.5em;
}

main {
    width: 100%;
}

section {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

#rotation-info ul {
    list-style: none;
    display: inline-block;
    margin-left: -7px;
    padding-left: 0px;
    /* text-align: center; */
}
#sched-slots {
    padding-left: 30px !important;
}

#sched-slots li {
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
}

#sched-times li {
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
}

#rotation-change {
    position:relative;
    float:right;
    margin-right: 100px;
}

/* RESIZABILITY
when on new line, make margins like 10px */


.hidden {
    display: none !important;
}

#rotation-info .active {
    background: var(--watermelon);
}

@media screen and (max-width: 1250px) {
    #rotation-change {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1015px) {
    #rotation-change {
        float: left;
    }
}