main h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--dark-carbon);
}

main h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

header, main {
    font-size: 1.5em;
}

main {
    width: 100%;
}

section {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;

}

#rotation-info ul {
    list-style: none;
    display: inline-block;
    /* text-align: center; */
}
#rotation-change {
    position:relative;
    float:right;
    margin-right: 100px;
}

/* RESIZABILITY
when on new line, make margins like 10px */


.hidden {
    display: none !important;
}

#rotation-info .active {
    color: red;
}

@media screen and (max-width: 1250px) {
    #rotation-change {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1120px) {
    #rotation-change {
        float: left;
    }
}