main h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--dark-carbon);
}

main h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

header, main {
    font-size: 1.5em;
}

main {
    width: 100%;
}

section {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

#rotation-change {
    display:inline-block;
    position:relative;
    float:right;
    margin-right: 100px;
}

/* RESIZABILITY
when rotation-change is on new line, move to left.
when on new line, make margins like 10px */


.hidden {
    display: none;
}